<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.rollbar.android"
          android:versionCode="1"
          android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <meta-data android:name="com.rollbar.android._notifier.version" android:value="${notifierVersion}" />
    </application>
</manifest>