<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID" version="3.0">

    <!-- Rollbar listener and filter -->
    <listener>
        <listener-class>com.rollbar.web.listener.RollbarRequestListener</listener-class>
    </listener>

    <filter>
        <filter-name>Rollbar Filter</filter-name>
        <filter-class>com.rollbar.web.filter.RollbarFilter</filter-class>
        <init-param>
            <param-name>access_token</param-name>
            <param-value>[YOUR_ACCESS_TOKEN>]</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>Rollbar Filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Servlets -->
    <servlet>
        <servlet-name>hello</servlet-name>
        <servlet-class>com.rollbar.web.example.servlet.HelloRollbarServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hello</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>
</web-app>