<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
    <bean id="rollbarFactory" class="com.rollbar.struts.RollbarFactory" scope="singleton" >
        <property name="accessToken" value="[ACCESS_TOKEN]" />
        <property name="captureIp" value="true" />
        <property name="environment" value="production" />
        <property name="codeVersion" value="1.1.2" />
    </bean>
</beans>

