<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLBAR" class="com.rollbar.logback.RollbarAppender">
        <accessToken>[ACCESS_TOKEN]</accessToken>
<!--    <environment>prod</environment>                  -->
<!--    <language>kotlin</language>                      -->
<!--    <staticContext>some context info</staticContext> -->
<!--    <codeVersion>42</codeVersion>                    -->
<!--    <enabled>true</enabled>                          -->
<!--    <framework>spring-boot</framework>               -->
<!--    <platform>OpenJDK 13</platform>                  -->
    </appender>

    <logger name="com.example.rollbar.logback" level="debug" additivity="false">
        <appender-ref ref="ROLLBAR" />
    </logger>>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
</configuration>
