<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ROLLBAR" class="com.rollbar.logback.RollbarAppender">
        <accessToken>[ACCESS_TOKEN]</accessToken>
    </appender>

    <logger name="com.example.rollbar.logback" level="debug" additivity="false">
        <appender-ref ref="ROLLBAR" />
    </logger>>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>